V09_BipolarProto/logs/
V09_BipolarProto/.venv/
V09_BipolarProto/**/__pycache__/
V09_BipolarProto/settings.json
V09_BipolarProto/settings_broken.json
V09_BipolarProto/.session_inversion_settings/
V09_BipolarProto/auto_inversion_state.json
V09_BipolarProto/settings_inversion.json
V09_BipolarProto/saved_inversions/
V09_BipolarProto/SMEARIII/

V091_BipolarSMPSProto/logs/
V091_BipolarSMPSProto/settings_inversion.json
V091_BipolarSMPSProto/saved_inversions/
V091_BipolarSMPSProto/SMEARIII/


V09_BipolarProto (Copy)/logs/
V09_BipolarProto (Copy)/settings_inversion.json
V09_BipolarProto (Copy)/saved_inversions/
V09_BipolarProto (Copy)/SMEARIII/

DMPS/
