[Unit]
Description=Tailscale Serve for TDMPS hardware GUI
After=tailscaled.service tdmps@%i.service
Wants=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tailscale serve --bg --https=443 http://127.0.0.1:5006
ExecStop=/usr/bin/tailscale serve --https=443 off

[Install]
WantedBy=multi-user.target
